@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loop-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes loop-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-loop-top {
  animation: loop-left 30s linear infinite;
}

.animate-loop-bottom {
  animation: loop-right 30s linear infinite;
}
html {
  scroll-behavior: smooth;
}